# Ignore node_modules
node_modules/

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore environment files
.env

# Ignore build directories
dist/
build/

# Optional: Ignore system files
.DS_Store
Thumbs.db
